In [1]:
import pandas as pd
import requests
from datetime import datetime
import json
import os
from dateutil import parser
import collections

The following code helps to determine whether new data is inserted in api database or not, if so then we have to pull new movies data and put that in database and update tracking parameters.

In [2]:
last_page =  requests.get('https://yts.torrentbay.to/api/v2/list_movies.json?page=821&limit=50').json()
first_page = requests.get('https://yts.torrentbay.to/api/v2/list_movies.json?page=1&limit=50').json()

In [3]:
'movies' in last_page['data'].keys()

True

In [27]:
last_page['data']['movies'][0]['id'], last_page['data']['movies'][-1]['id']

(1494, 1445)

In [28]:
first_page['data']['movies'][0]['id'], first_page['data']['movies'][-1]['id']

(43174, 43126)

In [29]:
ids = [41763,41713]
ids

[41763, 41713]

In [4]:
len(last_page['data']['movies'])

50

In [37]:
def insert_new_movies(ids:list):

    page_number = 1
    new_insertion = 0
    while True:
        init_page = requests.get(f'https://yts.torrentbay.to/api/v2/list_movies.json?page={page_number}&limit=50').json()
        
        current_ids = [init_page['data']['movies'][0]['id'],init_page['data']['movies'][-1]['id']]

        if current_ids > ids:
            new_insertion = new_insertion+len(init_page['data']['movies'])
            for movie in init_page['data']['movies']:
            
        
            
                
            page_number = page_number + 1

        else:
            break

In [38]:
new_movies = check_new_movies(ids)

In [ ]:
def load():

Below code is for extracting movie cast based on "IMDB code"

In [6]:
import requests
from bs4 import BeautifulSoup
import re
import time

## method to get cast list of given imdb movie id

In [7]:
def get_cast(imdb_id : str):
    
    url = f'https://www.imdb.com/title/{imdb_id}/fullcredits'
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    table = soup.find('table', attrs={'class' : 'cast_list'})
    cast = table.find_all('a')   
    
    return re.findall(r'title="(.*?)"', str(cast))

###  The following data needed to be pulled from api response and put in warehouse
#### : imdb_code -> unique movie code given by IMDB
#### : title_long -> full movie title with year
#### : year -> released year
#### : rating -> movie rating (1-10)
#### : runtime -> in minutes
#### : genres -> can be one or more
#### : summary -> summary of movie
#### : cast -> need to scrape from IMDB
#### : mpa_rating -> movie sensorship rating
#### : language -> can be one or more

In [ ]:
movie_a['imdb_code'], movie_a['title_long'], movie_a['year'], movie_a['rating'], movie_a['runtime'], (movie_a['genres']), movie_a['mpa_rating'], movie_a['language']

Here is the main problem, as movie has multiple genres, we need to figure out how to insert genres without repetation.
First we need to insert "imdb_code" and "movie_title" in movies table. Then we have to check that genre exists in genre table, if so then we can skip, else insert it.

In [8]:
import pyodbc

In [14]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-K8VV6KV;'
                      'Database=yts_warehouse;'
                      'Trusted_Connection=yes;'
                       'autocommit=True')

In [10]:
cursor = conn.cursor()

In [11]:
type(cursor)

pyodbc.Cursor

In [15]:
cursor.execute("""
use yts_warehouse
""");

In [16]:
cursor.execute("""
DBCC CHECKIDENT ('[genre]', RESEED, 0);
""");

In [18]:
cursor.execute("""
DBCC CHECKIDENT ('[cast]', RESEED, 0);
""");

### inserting into movie table

In [ ]:
cursor.execute("""
insert into movies (imdb_id, title, year, rating, runtime, mpa_rating, language, date_uploaded)
VALUES (?,?,?,?,?,?,?,?)
""",
movie_a['imdb_code'], movie_a['title_long'], movie_a['year'],movie_a['rating'], movie_a['runtime'], movie_a['mpa_rating'], movie_a['language'], movie_a['date_uploaded']              
              );

In [28]:
cursor.execute('select * from movies')
for i in cursor:
    print(i)

('tt0386588', 'Hitch (2005)', 2005, 6.6, 118.0, 'PG-13', 'en', datetime.datetime(2015, 10, 31, 23, 58, 31))
('tt0975645', 'Hitchcock (2012)', 2012, 6.8, 98.0, 'PG-13', 'en', datetime.datetime(2015, 10, 31, 23, 58, 36))

### inserting into genre and movie_genre table

In [ ]:
for genre in movie_a['genres']:
    cursor.execute("""
                declare @temp_genre_id int;
                if not exists (
                                select * from genre
                                where genre_title = ?
                              )
                begin
                    insert into genre values(?)
                end
        select @temp_genre_id  = genre_id from genre where genre_title = ?
        insert into movie_genre
        values(?, @temp_genre_id)
    """, genre, genre, genre, movie_a['imdb_code'])

In [29]:
cursor.execute('select *from genre')
for i in cursor:
    print(i)

(1, 'Action')
(2, 'Biography')
(3, 'Comedy')
(4, 'Drama')
(5, 'Romance')

In [30]:
cursor.execute('select *from movie_genre')
for i in cursor:
    print(i)

('tt0975645', 1)
('tt0975645', 2)
('tt0975645', 3)
('tt0975645', 4)
('tt0975645', 5)
('tt0386588', 1)
('tt0386588', 3)
('tt0386588', 5)

In [ ]:
# before that, we need to scrape cast from imdb_page using movie id
cast_list = get_cast(movie_a['imdb_code'])
cast_list

### inserting into cast and movie_cast table

In [ ]:
for actor in cast_list:
    cursor.execute("""
                declare @temp_actor_id int;
                if not exists (
                                select * from cast
                                where actor_name = ?
                              )
                begin
                        insert into cast values(?)
                end
        select @temp_actor_id  = actor_id from cast where actor_name = ?
        insert into movie_cast
        values(?, @temp_actor_id)
    """, actor, actor, actor, movie_a['imdb_code'])

In [31]:
cursor.execute(" select *from cast")
for i in cursor:
    print(i)

(1, 'Anthony Hopkins')
(2, 'Helen Mirren')
(3, 'Scarlett Johansson')
(4, 'Danny Huston')
(5, 'Toni Collette')
(6, 'Michael Stuhlbarg')
(7, 'Michael Wincott')
(8, 'Jessica Biel')
(9, "James D'Arcy")
(10, 'Richard Portnow')
(11, 'Kurtwood Smith')
(12, 'Ralph Macchio')
(13, 'Kai Lennox')
(14, 'Tara Summers')
(15, 'Wallace Langham')
(16, 'Paul Schackman')
(17, 'Currie Graham')
(18, 'Spencer Garrett')
(19, 'Terry Rhoads')
(20, 'Tom Virtue')
(21, 'Karina Deyko')
(22, 'Steven Lee Allen')
(23, 'Richard Chassler')
(24, 'Frank Collison')
(25, 'Melinda Chilton')
(26, 'Mary Anne McGarry')
(27, 'Jon Abrahams')
(28, 'Gil McKinney')
(29, 'Emma Julia Jacobs')
(30, 'Spencer Leigh')
(31, 'Sean MacPherson')
(32, 'Gerald Casale')
(33, 'Tara Arroyave')
(34, 'Judith Hoag')
(35, 'Josh Yeo')
(36, 'Danielle Burgio')
(37, 'John Lacy')
(38, 'Howard Gibson')
(39, 'Josette Prevost')
(40, 'Lauren Stewart')
(41, 'Jaehne Moebius')
(42, 'Ana Matallana')
(43, 'Lindsey Ginter')
(44, 'Paul Henderson')
(45, 'Kay Henderson')
(46, 'Lisa Marie Boiko')
(47, 'Richard Burns')
(48, 'Meredith Claire')
(49, 'Alexia DuBasso')
(50, 'Jonn Faircrest')
(51, 'Gina Fricchione')
(52, 'James R. Gavio')
(53, 'James Henderson')
(54, 'Bruce Holman')
(55, 'Dion W.H. Holt')
(56, 'Jeremiah Hundley')
(57, 'Michael Kurtz')
(58, 'Joseph Martino')
(59, 'Jeremy S. Miles')
(60, 'Jon Renfield')
(61, 'Linda Sans')
(62, 'James Tappan')
(63, 'Jon Thibault')
(64, 'Sebastian Vale')
(65, 'Jason Wingo')
(66, 'Cynthia Youngblood')
(67, 'Afterglows Rapunzel')
(68, 'Afterglows Cinderella')
(69, 'Brett Chapin')
(70, 'Karissa Barney')
(71, 'Bill Blair')
(72, 'Jehanne Chinnery')
(73, 'Lee Christian')
(74, 'Claudette Colbert')
(75, 'Sabrina Diaz')
(76, 'Demarcus Eckford')
(77, 'Brennan Feonix')
(78, 'Cathy Fielding')
(79, 'Leni Ford')
(80, 'Ben Greenfield')
(81, 'Mandy Henderson')
(82, 'David Hill')
(83, 'Kimberly Jo Howard')
(84, 'Samantha Kelly')
(85, 'Hrvoje Klecz')
(86, 'Damian Forest Light')
(87, 'Ian Mackay')
(88, 'Craig Meier')
(89, 'Tom Michaels')
(90, 'Walter Pidgeon')
(91, 'Geoff Pilkington')
(92, 'Deborah Rombaut')
(93, 'John Rothman')
(94, 'Matt Samuel')
(95, 'Mia Serafino')
(96, 'Gary Sievers')
(97, 'Chris Sprister')
(98, 'Joel Thingvall')
(99, 'London Vale')
(100, 'Emely von Oest')
(101, 'Matt Weinglass')
(102, 'Cletus Young')
(103, 'Rafael Zubizarreta')
(104, 'Will Smith')
(105, 'Eva Mendes')
(106, 'Kevin James')
(107, 'Amber Valletta')
(108, 'Julie Ann Emery')
(109, 'Adam Arkin')
(110, 'Robinne Lee')
(111, 'Nathan Lee Graham')
(112, 'Michael Rapaport')
(113, 'Jeffrey Donovan')
(114, 'Paula Patton')
(115, 'Philip Bosco')
(116, 'Kevin Sussman')
(117, 'Navia Nguyen')
(118, 'Matt Malloy')
(119, 'Maria Thayer')
(120, 'Ato Essandoh')
(121, 'Marlyne Barrett')
(122, 'Jack Hartnett')
(123, 'David Wike')
(124, 'Frederick B. Owens')
(125, 'Jenna Stern')
(126, 'Austin Lysy')
(127, 'Adam LeFevre')
(128, 'Joe Lo Truglio')
(129, 'Ptolemy Slocum')
(130, 'Kahan James')
(131, 'Matt Servitto')
(132, 'Amy Hohn')
(133, 'Mimi Weddell')
(134, 'Maulik Pancholy')
(135, 'Caprice Benedetti')
(136, 'Tony Travis')
(137, 'Mercedes López Renard')
(138, 'Jose Llana')
(139, 'Niels Koizumi')
(140, 'Chris Santos')
(141, 'Ryan Cross')
(142, 'Tobias Truvillion')
(143, 'Jeffrey Carlson')
(144, 'Henri Binje')
(145, 'Rain Phoenix')
(146, 'Remy K. Selma')
(147, 'Beau Sia')
(148, 'Mika Nishida')
(149, 'Trevor Oswalt')
(150, 'Darrell Foster')
(151, 'Douglas J. Aguirre')
(152, 'Alba Albanese')
(153, 'Anthony Amodeo')
(154, 'Casper Andreas')
(155, 'Anya Avaeva')
(156, 'Brielle Barbusca')
(157, 'Adam Bertocci')
(158, 'Andre Blair')
(159, 'Aneikit Bonnel')
(160, 'Kimberly Cash')
(161, 'Keith Chambers')
(162, 'Valbona Coba')
(163, 'Dono Cunningham')
(164, 'Thomas Daniel')
(165, 'Vincent De Paul')
(166, 'Michelle Deighton')
(167, 'Cesar Di Parra')
(168, 'Michelle DiBenedetti')
(169, 'Mike Fitzgerald')
(170, 'Munjeet Geyer')
(171, 'Alexandra Gizela')
(172, 'Ranardo Domeico Grays')
(173, 'Darryl Reuben Hall')
(174, 'Scott Hatfield')
(175, 'Marianne Hettinger')
(176, 'Lou Irizarry')
(177, 'Rick Kain')
(178, 'Tanzeel Kayani')
(179, 'Tanda Kerín')
(180, 'Arnold Y. Kim')
(181, 'Bill Kotsatos')
(182, 'Fran Kranz')
(183, 'Sulinh Lafontaine')
(184, 'Alexa Lane')
(185, 'Debbie Lang')
(186, 'Christina Lauren')
(187, 'Evan Leone')
(188, 'Joanna Lu')
(189, 'Bobby Lundon')
(190, 'Rebecca Mader')
(191, 'Brewster McCall')
(192, 'Adam Wade McLaughlin')
(193, 'Amy Metroka')
(194, 'Kevin Kean Murphy')
(195, 'John O. Nelson')
(196, 'Maria Nomi')
(197, "Dwight Allen O'Neal")
(198, 'Nancy Otero')
(199, 'Jennifer Pedersen')
(200, 'Nick Poltoranin')
(201, 'Nicolas Quilter')
(202, 'Dawn Ressy')
(203, 'Trevor Richardson')
(204, 'Amro Salama')
(205, 'Nina Sanchez')
(206, 'Michalina Scorzelli')
(207, 'Jennifer Scott')
(208, 'Cameron Stevens')
(209, 'Jaclyn Tommer')
(210, 'Tim Tyrrell')
(211, 'Keri Uribe')
(212, 'Olivia Weston')
(213, 'Kyle Willshire')
(214, 'Joe Wissler')
(215, 'Alexander Wraith')
(216, 'Shane Wright')
(217, 'Mike Yedwab')
(218, 'Dianne Zaremba')

In [32]:
cursor.execute(" select *from movie_cast")
for i in cursor:
    print(i)

('tt0975645', 1)
('tt0975645', 2)
('tt0975645', 3)
('tt0975645', 4)
('tt0975645', 5)
('tt0975645', 6)
('tt0975645', 7)
('tt0975645', 8)
('tt0975645', 9)
('tt0975645', 10)
('tt0975645', 11)
('tt0975645', 12)
('tt0975645', 13)
('tt0975645', 14)
('tt0975645', 15)
('tt0975645', 16)
('tt0975645', 17)
('tt0975645', 18)
('tt0975645', 19)
('tt0975645', 20)
('tt0975645', 21)
('tt0975645', 22)
('tt0975645', 23)
('tt0975645', 24)
('tt0975645', 25)
('tt0975645', 26)
('tt0975645', 27)
('tt0975645', 28)
('tt0975645', 29)
('tt0975645', 30)
('tt0975645', 31)
('tt0975645', 32)
('tt0975645', 33)
('tt0975645', 34)
('tt0975645', 35)
('tt0975645', 36)
('tt0975645', 37)
('tt0975645', 38)
('tt0975645', 39)
('tt0975645', 40)
('tt0975645', 41)
('tt0975645', 42)
('tt0975645', 43)
('tt0975645', 44)
('tt0975645', 45)
('tt0975645', 46)
('tt0975645', 47)
('tt0975645', 48)
('tt0975645', 49)
('tt0975645', 50)
('tt0975645', 51)
('tt0975645', 52)
('tt0975645', 53)
('tt0975645', 54)
('tt0975645', 55)
('tt0975645', 56)
('tt0975645', 57)
('tt0975645', 58)
('tt0975645', 59)
('tt0975645', 60)
('tt0975645', 61)
('tt0975645', 62)
('tt0975645', 63)
('tt0975645', 64)
('tt0975645', 65)
('tt0975645', 66)
('tt0975645', 67)
('tt0975645', 68)
('tt0975645', 69)
('tt0975645', 70)
('tt0975645', 71)
('tt0975645', 72)
('tt0975645', 73)
('tt0975645', 74)
('tt0975645', 75)
('tt0975645', 76)
('tt0975645', 77)
('tt0975645', 78)
('tt0975645', 79)
('tt0975645', 80)
('tt0975645', 81)
('tt0975645', 82)
('tt0975645', 83)
('tt0975645', 84)
('tt0975645', 85)
('tt0975645', 86)
('tt0975645', 87)
('tt0975645', 88)
('tt0975645', 89)
('tt0975645', 90)
('tt0975645', 91)
('tt0975645', 92)
('tt0975645', 93)
('tt0975645', 94)
('tt0975645', 95)
('tt0975645', 96)
('tt0975645', 97)
('tt0975645', 98)
('tt0975645', 99)
('tt0975645', 100)
('tt0975645', 101)
('tt0975645', 102)
('tt0975645', 103)
('tt0386588', 104)
('tt0386588', 105)
('tt0386588', 106)
('tt0386588', 107)
('tt0386588', 108)
('tt0386588', 109)
('tt0386588', 110)
('tt0386588', 111)
('tt0386588', 112)
('tt0386588', 113)
('tt0386588', 114)
('tt0386588', 115)
('tt0386588', 116)
('tt0386588', 117)
('tt0386588', 118)
('tt0386588', 119)
('tt0386588', 120)
('tt0386588', 121)
('tt0386588', 122)
('tt0386588', 123)
('tt0386588', 124)
('tt0386588', 125)
('tt0386588', 126)
('tt0386588', 127)
('tt0386588', 128)
('tt0386588', 129)
('tt0386588', 130)
('tt0386588', 131)
('tt0386588', 132)
('tt0386588', 133)
('tt0386588', 134)
('tt0386588', 135)
('tt0386588', 136)
('tt0386588', 137)
('tt0386588', 138)
('tt0386588', 139)
('tt0386588', 140)
('tt0386588', 141)
('tt0386588', 142)
('tt0386588', 143)
('tt0386588', 144)
('tt0386588', 145)
('tt0386588', 146)
('tt0386588', 147)
('tt0386588', 148)
('tt0386588', 149)
('tt0386588', 150)
('tt0386588', 151)
('tt0386588', 152)
('tt0386588', 153)
('tt0386588', 154)
('tt0386588', 155)
('tt0386588', 156)
('tt0386588', 157)
('tt0386588', 158)
('tt0386588', 159)
('tt0386588', 160)
('tt0386588', 161)
('tt0386588', 162)
('tt0386588', 163)
('tt0386588', 164)
('tt0386588', 165)
('tt0386588', 166)
('tt0386588', 167)
('tt0386588', 168)
('tt0386588', 169)
('tt0386588', 170)
('tt0386588', 171)
('tt0386588', 172)
('tt0386588', 173)
('tt0386588', 174)
('tt0386588', 175)
('tt0386588', 176)
('tt0386588', 177)
('tt0386588', 178)
('tt0386588', 179)
('tt0386588', 180)
('tt0386588', 181)
('tt0386588', 182)
('tt0386588', 183)
('tt0386588', 184)
('tt0386588', 185)
('tt0386588', 186)
('tt0386588', 187)
('tt0386588', 188)
('tt0386588', 189)
('tt0386588', 190)
('tt0386588', 191)
('tt0386588', 192)
('tt0386588', 193)
('tt0386588', 194)
('tt0386588', 195)
('tt0386588', 196)
('tt0386588', 197)
('tt0386588', 198)
('tt0386588', 199)
('tt0386588', 200)
('tt0386588', 201)
('tt0386588', 202)
('tt0386588', 203)
('tt0386588', 204)
('tt0386588', 205)
('tt0386588', 206)
('tt0386588', 207)
('tt0386588', 208)
('tt0386588', 209)
('tt0386588', 210)
('tt0386588', 211)
('tt0386588', 212)
('tt0386588', 213)
('tt0386588', 214)
('tt0386588', 215)
('tt0386588', 216)
('tt0386588', 217)
('tt0386588', 218)

### inserting into genre and movie_genre table

In [ ]:
movie_a['summary']

In [ ]:
cursor.execute("""

insert into summary (imdb_id, summary)
values (?, ?)

""", movie_a['imdb_code'], movie_a['summary'])

### Method to insert data into rdbms

In [13]:
def load_movie(movie:dict, cursor: pyodbc.Cursor):
    
    # first, we need to extract current movie's cast list from imdb_id
    cast_list = get_cast(movie['imdb_code'])
    
    # now, let's insert data into respective tables one by one 
    
    # 1-> Movie table
    cursor.execute("""
    insert into movies (imdb_id, title, year, rating, runtime, mpa_rating, language, date_uploaded)
    VALUES (?,?,?,?,?,?,?,?)
    """,
    movie['imdb_code'], movie['title_long'], movie['year'],movie['rating'], movie['runtime'], movie['mpa_rating'], movie['language'], movie['date_uploaded']              
                  );
    
    #2-> genre and movie_genre table
    for genre in movie['genres']:
        cursor.execute("""
                    declare @temp_genre_id int;
                    if not exists (
                                    select * from genre
                                    where genre_title = ?
                                  )
                    begin
                        insert into genre values(?)
                    end
            select @temp_genre_id  = genre_id from genre where genre_title = ?
            insert into movie_genre
            values(?, @temp_genre_id)
        """, genre, genre, genre, movie['imdb_code'])
        
    #3-> cast and movie_cast
    for actor in cast_list:
        cursor.execute("""
                    declare @temp_actor_id int;
                    if not exists (
                                    select * from cast
                                    where actor_name = ?
                                  )
                    begin
                            insert into cast values(?)
                    end
            select @temp_actor_id  = actor_id from cast where actor_name = ?
            insert into movie_cast
            values(?, @temp_actor_id)
        """, actor, actor, actor, movie_a['imdb_code'])
    
    cursor.execute("""

        insert into summary (imdb_id, summary)
        values (?, ?)

        """, movie['imdb_code'], movie['summary'])

In [27]:
%%time
load_movie(movie=movie_a, cursor=cursor)

Wall time: 2.41 s

In [33]:
cursor.execute("""
select *from summary
""")

for i in cursor:
    print(i)

('tt0975645', 'In 1959, Sir Alfred Hitchcock (Sir Anthony Hopkins) and his more often than not unheralded collaborator Alma Reville (Dame Helen Mirren), his wife, are revelling in their latest critical and box-office success: North by Northwest (1959). Some in the business believe Sir Alfred, now at age sixty, should hang up his hat while he is still on top, while the brass at Paramount Pictures, to whom he is under contract for one more movie, just wants him to follow North by Northwest (1959) with something in a similar vein to make them money. Sir Alfred, however, wants to stir his creative juices, unlike he has felt he has done with any movie of late. Against the desires of others, including Alma, he is determined that that next project will be a horror movie, specifically an adaptation of a book, that project which will eventually become Psycho (1960). For maximum impact, he wants to buy up whatever existing copies of the book are on the market, so that the public will have no idea what to expect with the movie when it&#39;s released, and to have the set closed. While Alma does faithfully support him in this endeavor, Barney Balaban (Richard Portnow), the President at Paramount Pictures, and Geoffrey Shurlock (Kurtwood Smith) with the Censor Board, do not, the former who refuses to finance the movie, leading to Sir Alfred needing to find alternate financing or self-finance, which would result in financial ruin if the movie does not make money, and the latter threatening not to provide certification over the proposed shower scene. These are only two of the external obstacles beyond some on-set problems, including Sir Alfred&#39;s mutual dislike of co-star Vera Miles (Jessica Beil), due to their previous working situations. Through it all, there may be issues at home as Sir Alfred suspects Alma of having an affair with writer Whitfield Cook (Danny Huston), who wanted Sir Alfred to use his latest manuscript as the basis for that follow-up to North by Northwest (1959), while Alma, long having despaired over Sir Alfred&#39;s obsessions with his leading ladies, most specifically Grace Kelly, just wants something in her life separate from him.')
('tt0386588', 'Pivoting around the eternal game of love, the suave matchmaker and New York City&#39;s finest date-doctor, Alex &quot;Hitch&quot; Hitchens, can guarantee that any man can get the girl of his dreams if he overcomes his fears and follows his infallible advice. However, when the timid accountant, Albert Brennaman, enlists his help to catch the attention of the rich and beautiful heiress, Allegra Cole, Hitch will unexpectedly discover his perfect match: the inquisitive gossip columnist, Sara Melas. Now, the self-assured charmer finds himself in need of his services to save his relationship. But, can the silver-tongued expert of romance survive the delicate complications of love?')