In [3]:
import pandas as pd
import requests
from datetime import datetime
import json
import os
from dateutil import parser
import collections

The following code helps to determine whether new data is inserted in api database or not, if so then we have to pull new movies data and put that in database and update tracking parameters.

In [4]:
last_page =  requests.get('https://yts.torrentbay.to/api/v2/list_movies.json?page=821&limit=50').json()
# first_page = requests.get('https://yts.torrentbay.to/api/v2/list_movies.json?page=1&limit=50').json()

In [5]:
movie_a = last_page['data']['movies'][1]

In [ ]:
ids = [41763,41713]
ids

In [ ]:
def check_new_movies(ids:list):

    page_number = 1
    movies_list = []
    while True:
        init_page = requests.get(f'https://yts.torrentbay.to/api/v2/list_movies.json?page={page_number}&limit=50').json()

        current_ids = [init_page['data']['movies'][0]['id'],init_page['data']['movies'][-1]['id']]

        if current_ids > ids:
            for movie in init_page['data']['movies']:
                movies_list.append(movie['title'])
        
            page_number = page_number + 1

        else:
            break

    return movies_list

In [ ]:
mov_list = check_new_movies(ids)

In [ ]:
for movie in first_page['data']['movies']:
    print(movie)

Below code is for extracting movie cast based on "IMDB code"

In [6]:
import requests
from bs4 import BeautifulSoup
import re
import time

## method to get cast list of given imdb movie id

In [7]:
def get_cast(imdb_id : str):
    
    url = f'https://www.imdb.com/title/{imdb_id}/fullcredits'
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    table = soup.find('table', attrs={'class' : 'cast_list'})
    cast = table.find_all('a')   
    
    return re.findall(r'title="(.*?)"', str(cast))

###  The following data needed to be pulled from api response and put in warehouse
#### : imdb_code -> unique movie code given by IMDB
#### : title_long -> full movie title with year
#### : year -> released year
#### : rating -> movie rating (1-10)
#### : runtime -> in minutes
#### : genres -> can be one or more
#### : summary -> summary of movie
#### : cast -> need to scrape from IMDB
#### : mpa_rating -> movie sensorship rating
#### : language -> can be one or more

In [ ]:
movie_a['imdb_code'], movie_a['title_long'], movie_a['year'], movie_a['rating'], movie_a['runtime'], (movie_a['genres']), movie_a['mpa_rating'], movie_a['language']

Here is the main problem, as movie has multiple genres, we need to figure out how to insert genres without repetation.
First we need to insert "imdb_code" and "movie_title" in movies table. Then we have to check that genre exists in genre table, if so then we can skip, else insert it.

In [8]:
import pyodbc

In [9]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-K8VV6KV;'
                      'Database=yts_warehouse;'
                      'Trusted_Connection=yes;'
                       'autocommit=True')

In [10]:
cursor = conn.cursor()

In [11]:
type(cursor)

pyodbc.Cursor

In [ ]:
cursor.execute("""
use yts_warehouse
""");

In [ ]:
cursor.execute("""
DBCC CHECKIDENT ('[genre]', RESEED, 0);
""");

### inserting into movie table

In [ ]:
cursor.execute("""
insert into movies (imdb_id, title, year, rating, runtime, mpa_rating, language, date_uploaded)
VALUES (?,?,?,?,?,?,?,?)
""",
movie_a['imdb_code'], movie_a['title_long'], movie_a['year'],movie_a['rating'], movie_a['runtime'], movie_a['mpa_rating'], movie_a['language'], movie_a['date_uploaded']              
              );

In [ ]:
cursor.execute('select * from movies')
for i in cursor:
    print(i)

### inserting into genre and movie_genre table

In [ ]:
for genre in movie_a['genres']:
    cursor.execute("""
                declare @temp_genre_id int;
                if not exists (
                                select * from genre
                                where genre_title = ?
                              )
                begin
                    insert into genre values(?)
                end
        select @temp_genre_id  = genre_id from genre where genre_title = ?
        insert into movie_genre
        values(?, @temp_genre_id)
    """, genre, genre, genre, movie_a['imdb_code'])

In [ ]:
cursor.execute('select *from genre')
for i in cursor:
    print(i)

In [ ]:
cursor.execute('select *from movie_genre')
for i in cursor:
    print(i)

In [ ]:
# before that, we need to scrape cast from imdb_page using movie id
cast_list = get_cast(movie_a['imdb_code'])
cast_list

### inserting into cast and movie_cast table

In [ ]:
for actor in cast_list:
    cursor.execute("""
                declare @temp_actor_id int;
                if not exists (
                                select * from cast
                                where actor_name = ?
                              )
                begin
                        insert into cast values(?)
                end
        select @temp_actor_id  = actor_id from cast where actor_name = ?
        insert into movie_cast
        values(?, @temp_actor_id)
    """, actor, actor, actor, movie_a['imdb_code'])

In [ ]:
cursor.execute(" select *from cast")
for i in cursor:
    print(i)

In [ ]:
cursor.execute(" select *from movie_cast")
for i in cursor:
    print(i)

### inserting into genre and movie_genre table

In [ ]:
movie_a['summary']

In [ ]:
cursor.execute("""

insert into summary (imdb_id, summary)
values (?, ?)

""", movie_a['imdb_code'], movie_a['summary'])

### Method to insert data into rdbms

In [13]:
def load_movie(movie:dict, cursor: pyodbc.Cursor):
    
    # first, we need to extract current movie's cast list from imdb_id
    cast_list = get_cast(movie['imdb_code'])
    
    # now, let's insert data into respective tables one by one 
    
    # 1-> Movie table
    cursor.execute("""
    insert into movies (imdb_id, title, year, rating, runtime, mpa_rating, language, date_uploaded)
    VALUES (?,?,?,?,?,?,?,?)
    """,
    movie['imdb_code'], movie['title_long'], movie['year'],movie['rating'], movie['runtime'], movie['mpa_rating'], movie['language'], movie['date_uploaded']              
                  );
    
    #2-> genre and movie_genre table
    for genre in movie['genres']:
        cursor.execute("""
                    declare @temp_genre_id int;
                    if not exists (
                                    select * from genre
                                    where genre_title = ?
                                  )
                    begin
                        insert into genre values(?)
                    end
            select @temp_genre_id  = genre_id from genre where genre_title = ?
            insert into movie_genre
            values(?, @temp_genre_id)
        """, genre, genre, genre, movie['imdb_code'])
        
    #3-> cast and movie_cast
    for actor in cast_list:
        cursor.execute("""
                    declare @temp_actor_id int;
                    if not exists (
                                    select * from cast
                                    where actor_name = ?
                                  )
                    begin
                            insert into cast values(?)
                    end
            select @temp_actor_id  = actor_id from cast where actor_name = ?
            insert into movie_cast
            values(?, @temp_actor_id)
        """, actor, actor, actor, movie_a['imdb_code'])
    
    cursor.execute("""

        insert into summary (imdb_id, summary)
        values (?, ?)

        """, movie['imdb_code'], movie['summary'])